main {
  padding: 30px;
  background: var(--gray-h-4, #f5f6f7);
}
.course-details p {
  color: var(--gray800);
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  margin-top: 20px;
}
