.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.footer .footer-text {
  width: 500px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
.footer .footer-text p {
  color: #606176;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 38.185px; /* 144.444% */
  letter-spacing: -0.529px;
  text-align: center;
}
.span {
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.352px;
  color: var(--secondary500);
}
.footer .footer-links,
.footer .footer-support {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
.footer .footer-links ul,
.footer .footer-support ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  list-style: none;
}
.footer .get-our-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  .footer {
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .footer .footer-text {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .footer .footer-links,
  .footer .footer-support {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .footer .footer-links ul,
  .footer .footer-support ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
  }
  .footer .get-our-app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
