.student {
  width: 500px;
  height: 500px;
  position: absolute;
  right: 50px;
  top: 0;
}
.student-reversed {
  width: 500px;
  height: 500px;
  position: absolute;
  left: 0;
  top: 0;
}
@media screen and (min-width: 1500px) and (min-width : 1699px){
  .student, .student-reversed {
    width: 700px;
    height: 700px;
  }
}
@media screen and (min-width: 1700px) {
  .student {
    width: 800px;
    height: 800px;
    right: 150px;
  }
  .student-reversed {
    width: 700px;
    height: 700px;
    left: 0;
  }
}
@media screen and (max-width: 1000px) {
  .student,
  .student-reversed {
    display: none;
  }
}
