.intro-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ddfff8;
}
.intro {
  background-color: #ddfff8;
  display: flex;
}

.intro-container-reversed {
  flex-direction: row-reverse;
}
.text {
  flex-basis: 550px;
  margin: 30px 0 0 0;
}
.text .title span {
  color: var(--primary900);
  margin-right: 0.5rem;
}

.studying-reversed {
  margin-left: 0.5rem;
}
.text .title {
  font-size: 50px;
  font-weight: bold;
  color: #2f327d;
  margin-top: 0;
}
.text .desc {
  margin-top: 30px;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  color: var(--gray800);
}

.intro-container .intro-btns {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;

  margin-top: 50px;
}
@media screen and (min-width: 1700px) {
  .text .title {
    font-size: 65px;
  }
  .text .desc {
    font-size: 25px;
  }
  .text {
    flex-basis: 850px;
  }
}
.intro {
  position: relative;
  height: 70vh;
  overflow: hidden;
}
@media screen and (max-width: 1000px) {
  .intro-container {
    justify-content: center;
  }
  .intro-container .intro-btns {
    justify-content: center;
  }
  .intro {
    height: auto;
  }
}
@media screen and (max-width: 550px) {
  .text .title {
    font-size: 30px;
    text-align: center;
  }
  .text .desc {
    font-size: 18px;
    text-align: center;
  }
  .text {
    flex-basis: 300px;
  }
}
.intro-img {
  position: relative;
}
.intro-bg1 {
  top: 25%;
  left: -18%;
  position: absolute;
}
.intro-bg2 {
  top: 58%;
  left: -18%;
  position: absolute;
}
.intro-bg3 {
  top: 20%;
  left: 60%;
  position: absolute;
}
.intro-bg4 {
  top: 46%;
  left: 52%;
  position: absolute;
}
.intro-bg5 {
  top: 66%;
  left: 66%;
  position: absolute;
}
.intro-bg1-reversed {
  top: 22%;
  left: -80px;
  position: absolute;
}
.intro-bg2-reversed {
  top: 58%;
  left: -80px;
  position: absolute;
  z-index: 10;
}
.intro-bg3-reversed {
  top: 20%;
  left: 262px;
  position: absolute;
}
.intro-bg4-reversed {
  top: 46%;
  left: 262px;
  z-index: 10;
  position: absolute;
}
.intro-bg5-reversed {
  top: 66%;
  left: 262px;
  z-index: 10;
  position: absolute;
}
@media screen and (max-width: 1000px) {
  .intro-bg1 {
    display: none;
  }
  .intro-bg2 {
    display: none;
  }
  .intro-bg3 {
    display: none;
  }
  .intro-bg4 {
    display: none;
  }
  .intro-bg5 {
    display: none;
  }
  .intro-bg1-reversed {
    display: none;
  }
  .intro-bg2-reversed {
    display: none;
  }
  .intro-bg3-reversed {
    display: none;
  }
  .intro-bg4-reversed {
    display: none;
  }
  .intro-bg5-reversed {
    display: none;
  }
}
@media screen and (max-width: 1400px) and (min-width: 1001px) {
  .intro {
    height: 100vh;
  }
}
