.what-is-rayhan-card {
  position: relative;
}
.what-is-rayhan-card .img {
  z-index: 2;
}
.what-is-rayhan-card span {
  position: absolute; /* Position the span absolutely */
  top: 50%; /* Move the span vertically to the center */
  left: 50%; /* Move the span horizontally to the center */
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  z-index: 3;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 200px;
  background-color: rgba(
    9,
    13,
    50,
    0.5
  ); /* Adjust the background color and opacity as needed */
  z-index: 1;
  border-radius: 10px;
}
