.popular-teachers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.popular {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
}
