.ivite-freinds {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  border-radius: 10px;
  padding: 130px 146px 158px 147px;
  height: 100%;
  gap: 60px;
}
.ivite-freinds .form-controle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.ivite-freinds div input {
  border-radius: 12px;
  border: 1px solid var(--gray-h-2, #cdd2d8);
  background: rgba(255, 255, 255, 0.24);
  outline: none;
  padding: 10px 20px;
  width: 596px;
  height: 72.062px;
  flex-shrink: 0;
  font-size: 20px;
  color: var(--secondary700);
  font-weight: bold;
}
.ivite-freinds div label {
  color: var(--gray800);
  font-size: 23.06px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.copy {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.ivite-freinds h1 {
  color: var(--secondary700);
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px; /* 116.667% */
  letter-spacing: -0.72px;
}
.ivite-freinds .desc {
  color: var(--gray500);
  text-align: center;
  font-size: 31px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: capitalize;
}
.ar {
  align-items: flex-end;
}