nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 17.423px;
  padding: 40px;
}
nav .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 30px;
}
nav .nav-btns {
  display: flex;
  gap: 5px;
}
nav .nav-btns .outline,
nav .nav-btns .inline {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
  letter-spacing: -0.288px;
  background-color: white;
  padding: 13px 20px;
  color: var(--primary900);
  border-radius: 16px;
  border: 2px solid var(--primary900);
  transition: all 0.3s ease-in-out;
}
nav .nav-btns .outline {
  background-color: transparent;
  color: var(--primary900);
}
nav .nav-btns .inline {
  background-color: var(--primary900);
  color: white;
}

nav .nav-btns .outline:hover {
  /* background-color: var(--primary900);
  color: white; */
  cursor: pointer;
}
nav .nav-btns .inline:hover {
  /* background-color: transparent;
  color: var(--primary900); */
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  nav .nav-btns .outline,
  nav .nav-btns .inline {
    font-size: 18px;
  }
}

@media screen and (max-width: 850px) {
  nav .links {
    display: none;
  }
  nav .nav-btns .outline,
  nav .nav-btns .inline {
    font-size: 16px;
    padding: 0 15px;
    height: 40px;
  }
}
