.single-playlist {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #fff;
  width: 100%;
  padding: 10px;
  gap: 30px;
}
.single-playlist .details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.single-playlist .details .title {
  color: var(--secondary700);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 31.601px;
  margin: 0; /* 131.672% */
}
.single-playlist .details .duration {
  color: var(--primary900);
  font-size: 17.016px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.playlist-btn {
  background-color: var(--secondary700);
  width: 100%;
  color: white;
  border: none;
  padding: 20px 24px;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 18px */
}
