.teacher-courses {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  margin-bottom: 20px;
}
.pagination-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
