.succes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.succes h1 {
  color: var(--secondary600);
  text-align: center;
  font-size: 28.273px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
}

.succes-container {
  background-color: rgba(31, 227, 44, 0.16);
  width: 141.367px;
  height: 141.367px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.succes-btn {
  margin-top: 40px;
  margin-bottom: 10px;
}
