main {
  background: var(--gray-h-4, #f5f6f7);
}
.hero {
  width: 100%;
  height: 350px;
  flex-shrink: 0;
  border: none;
  background: #fd993d;
}
.features {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 20px;
  padding: 5rem;
  gap: 100px;
}
.reversed {
  flex-direction: row-reverse !important;
}
.features .watched-and-teachers {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
  width: 500px;
}
.teachers {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
  width: 500px;
}
.features .watched-and-teachers .watched .watched-title,
.watched-title {
  color: #0a033c;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 125% */
  letter-spacing: -0.48px;
}
.toggle-feature {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.toggle {
  display: flex;
  padding: 20px 28px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 10px;
  background: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.16px;
  color: var(--gray500);
}
.selected {
  background: var(--primary-1, #00ddaf);
  box-shadow: 0px 12px 51px 0px rgba(0, 221, 175, 0.24);
  color: #fff;
}
.filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}
.filter select {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
  background: var(--White, #fff);
  border: none;
  height: 64px;
  color: var(--primary900);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 144.444% */
}
.features-courses {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-self: stretch;
  align-items: flex-start;
  width: 100%;
}
.courses-reversed {
  align-items: flex-end;
}
.course-cards,
.rooms {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 100px;
  align-items: center;
  justify-content: center;
}
.rooms {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1450px) {
  .course-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
