.offers-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
@media screen and (max-width: 1500px) {
  .offers-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
}
