.course-videos {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 20px;
  gap: 30px;
  height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
}

.ifram {
  width: 100%;
  position: sticky;
  top: 0;
}
.ifram .ifram-title {
  color: var(--secondary700);
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 40.907px; /* 113.631% */
  letter-spacing: -0.54px;
}
.course-videos .playlist-title {
  color: var(--secondary700);
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 40.907px; /* 146.097% */
  letter-spacing: -0.42px;
}
.course-videos .course-playlist {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  width: 100%;
}
@media screen and (max-width: 1400px) {
  iframe {
    width: 500px;
  }
}
