.profile-features {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  height: 616px;
}
.features {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  position: sticky;
  top: 0;
  
}
.visual-features {
  width: 80%;
  height: 100%;
}
@media screen and (max-width: 1500px) {
  .visual-features {
    width: unset;
  }
}
